.para{
    color: black;
    font-size: 1.1em; 
    margin-bottom: 30px; 
    line-height: 1.8; 
    margin-left: 50px;
    margin-right: 20px;
}
.hed{
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}
.thesis{
    color: #964B00;
    font-size: 48px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
    a {
            color: yellow;
            text-decoration: crimson;
            font-weight: bold;
            padding: 8px 16px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            transition: all 0.3s ease;
            display: inline-block;
            margin-left: 250px;
            margin-right: 250px;
            text-align: center;
            margin-bottom: 20px;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.4);
            transform: scale(1.1);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }
        .bar{
            margin-top: 80px;
            padding: 30px;
            background-color: rgba(0, 100, 0, 0.3); 
            border-radius: 15px;
            max-width: 900px; 
            margin-left: auto; 
            margin-right: auto;
            margin: auto;
            
        }
        .kok{
            color: black; 
            text-align: center; 
            font-size: 20px;
            margin-left: auto; 
            margin-right: auto; 
            line-height: 1.8;
        }
  